/* Normalize css and fonts*/
@import url(./normalize.css);
@import url(./fonts.css);

.container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        width: 95%;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
}

.hidden-radio {
    display: none;
}

.meme-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.meme-slider {
    display: flex;
    width: 400%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    transition: 1s ease;
}

.meme-slide {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        min-height: 40vh;
    }
}

.meme-image {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.control-buttons {
    display: flex;
    gap: 0.625rem;
}

.vissible-button-wrapper {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-visible {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: black;
    transition: 0.5s ease;

    @media (min-width: 768px) {
        &:hover {
            scale: 1.3;
        }
    }
}

#second-button:checked ~ .meme-wrapper .meme-slider {
    translate: -25%;
}

#third-button:checked ~ .meme-wrapper .meme-slider {
    translate: -50%;
}

#fourth-button:checked ~ .meme-wrapper .meme-slider {
    translate: -75%;
}

#first-button:checked ~ .meme-wrapper .meme-slider {
    translate: 0;
}

#first-button:checked ~ .control-buttons .vissible-button-wrapper .button-visible-first,
#second-button:checked ~ .control-buttons .vissible-button-wrapper .button-visible-second,
#third-button:checked ~ .control-buttons .vissible-button-wrapper .button-visible-third,
#fourth-button:checked ~ .control-buttons .vissible-button-wrapper .button-visible-fourth,
#fifth-button:checked ~ .control-buttons .vissible-button-wrapper .button-visible-fifth {
    background-color: rgb(225, 146, 182);
}

.slider-description-wrapper {
    display: flex;
    overflow: hidden;
    width: 60%;
    height: 100%;

    @media (max-width: 1024px) {
        width: 100%;
        text-align: center;
    }
}
.description-items {
    display: flex;
    justify-content: space-between;
    width: 400%;
    translate: 0%;
}
.description-item {
    display: block;
    width: 100vw;
    height: 100%;

    font-family: 'Fafo';
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    opacity: 0;
    transition: 2s ease;

    @media (max-width: 768px) {
        font-size: 2rem;
    }

    @media (max-width: 425px) {
        font-size: 1.5rem;
    }
}

#second-button:checked ~ .slider-description-wrapper .description-items {
    translate: -25%;
}
#second-button:checked ~ .slider-description-wrapper .description-items .second-item {
    opacity: 1;
}

#third-button:checked ~ .slider-description-wrapper .description-items {
    translate: -50%;
}

#third-button:checked ~ .slider-description-wrapper .description-items .third-item {
    opacity: 1;
}

#fourth-button:checked ~ .slider-description-wrapper .description-items {
    translate: -75%;
}
#fourth-button:checked ~ .slider-description-wrapper .description-items .fourth-item {
    opacity: 1;
}

#first-button:checked ~ .slider-description-wrapper .description-items {
    translate: 0;
}
#first-button:checked ~ .slider-description-wrapper .description-items .first-item {
    opacity: 1;
}
